/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
html {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 80%;
    max-width: 1440px;
    margin: 3em auto;
}

.row {
    width: 100%;
    margin-bottom: 4em;
}

/* PRODUCT  */
.product {
    display: inline-block;
    margin: 6px;
    width: calc(100%/3 - 18px);
    vertical-align: top;
}

.bg-product {    
    position: relative;
}

img {
    width: 100%;
}

/* descriptions */

.brand {
    font-size: smaller;
}

.dress {
    font-weight: bold;
}

.price {
    font-weight: bold;
    color: #eb0037;
}

/* labels */
.label {
    padding: 4px;
    color: white;
    font-weight: bold;
    z-index: 1;
}

.labels {
    position: absolute;
    bottom: 2em;
    left: 0;
    z-index: 1;
}

.discount {
    background-color: #eb0037;
}

.sustain {
    background-color: #00875a;
}

.wishlist {
    position: absolute;
    padding: 4px;
    font-weight: bold;
    z-index: 1;
    background-color: white;
    color: black;
    font-size: 25px;
    padding: 10px 15px;
    top: 1em;
    right: 0;
}

.wishlist:hover {
    color: #eb0037;
    cursor: pointer; 
}

/* alternative product invisible */
.alternative {
    display: none;
}

/* mouse hover product, show alternative */
.bg-product:hover .img-default {
    display: none;
}
.product:hover .alternative{
    display: inline-block;
}